/*google font import*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/*css variables*/
:root {
    --primary-color:#FFA500; /*orange*/
    --secondary-color: #32CD32; /*lime green*/
    --feature-color-1: #1E90FF; /*light blue*/
    --feature-color-2: #ff6347; /*light red*/
    --background-color: #ffffff; /*white*/
    --font-color: #2F4F4F; /*dark gray*/
    --primary-font: "Comic Sans MS", sans-serif;
    --secondary-font: "Fredoka", sans-serif;
}

/*global styles*/
html, body {
    height: 100%;
    margin: 0;
}

/*makes the content in main always centered*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

/*game-area*/
#reset-button {
    background-color: var(--feature-color-2);
    border: solid 1px var(--feature-color-2);
    color: var(--font-color);
}

/*input-area*/
#input-area {
    height: 100%;
}

#input-number {
    text-align: center;
    border: solid 1px var(--primary-color);
    border-radius: 4%;
}

#submit-button {
    width: 50%;
    height: 50px;
    background-color: var(--feature-color-1);
    border: solid 1px var(--feature-color-1);
    color: var(--font-color);
}

/*display-area*/
#score-counter {
    font-size: 20px;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--font-color);
    border-radius: 25px;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score-counter p {
    margin: 0;
}

#turn-counter {
    font-size: 20px;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--font-color);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#turn-counter p {
    margin: 0;
}

.custom-navbar {
    background-color: var(--primary-color) !important;
}

.custom-footer {
    background-color: var(--primary-color) !important;
}

/*modals*/
.modals {
    /*display: none;*/
    background-color: var(--background-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    color: var(--font-color);
}

#win-modal {
    border: solid 3px var(--feature-color-1);
}

#lose-modal {
    border: solid 3px var(--feature-color-2);
}


.play-again {
    background-color: var(--feature-color-1);
    border: solid 1px var(--feature-color-1);
    color: var(--font-color);
    width: 80%;
}

.play-again:hover {
    background-color: var(--font-color);
    border: solid 1px var(--font-color);
    color: var(--background-color);
}

.main-menu {
    background-color: var(--feature-color-2);
    border: solid 1px var(--feature-color-2);
    color: var(--font-color);
    width: 80%;
}

.main-menu:hover {
    background-color: var(--font-color);
    border: solid 1px var(--font-color);
    color: var(--background-color);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: var(--font-color);
}