/*google font import*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/*css variables*/
:root {
    --primary-color: #FFA500;
    /*orange*/
    --secondary-color: #32CD32;
    /*lime green*/
    --feature-color-1: #1E90FF;
    /*light blue*/
    --feature-color-2: #ff6347;
    /*light red*/
    --background-color: #ffffff;
    /*white*/
    --font-color: #2F4F4F;
    /*dark gray*/
    --primary-font: "Comic Sans MS", sans-serif;
    --secondary-font: "Fredoka", sans-serif;
}

/*global styles*/
html,
body {
    height: 100%;
    margin: 0;
}

/*makes the content in main always centered*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

/*game-area*/
#reset-button {
    background-color: var(--feature-color-2);
    border: solid 1px var(--feature-color-2);
    color: var(--font-color);
}

/*input-area*/
#input-area {
    height: 100%;
}

#input-number {
    text-align: center;
    border: solid 1px var(--primary-color);
    border-radius: 4%;
}

#submit-button {
    width: 50%;
    height: 50px;
    background-color: var(--feature-color-1);
    border: solid 1px var(--feature-color-1);
    color: var(--font-color);
}

/*display-area*/
#score-counter {
    font-size: 20px;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--font-color);
    border-radius: 25px;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score-counter p {
    margin: 0;
}

#turn-counter {
    font-size: 20px;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--font-color);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#turn-counter p {
    margin: 0;
}

.custom-navbar {
    background-color: var(--primary-color) !important;
    font-family: var(--primary-font);
}

.custom-footer {
    background-color: var(--primary-color) !important;
    font-family: var(--primary-font);
    /* sticky footer */
    /* position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px; */
}

.introduction {
    font-family: var(--primary-font);
    margin-top: 20px;
    color: var(--primary-color);
    background-color: var(--feature-color-1);
}

.hero {
    font-family: var(--primary-font);
}

.btn-orange {
    background-color: #ff7f50;
    /* Coral color */
    color: white;
}

<style>.btn-orange {
    background-color: #ff7f50;
    /* Coral color */
    color: white;
}

/* instructions button */
.btn-orange:hover {
    background-color: #ff6347;
    /* Tomato color */
    color: white;
}

#play-button {
    font-size: 2.5rem;
    padding: 10px 20px;
}