/*google font import*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* css variables */
:root {
    --primary-color: #FFA500;
    /*orange*/
    --secondary-color: #32CD32;
    /*lime green*/
    --feature-color-1: #1E90FF;
    /*light blue*/
    --feature-color-2: #ff6347;
    /*light red*/
    --background-color: #ffffff;
    /*white*/
    --font-color: #2F4F4F;
    /*dark gray*/
    --primary-font: "Comic Sans MS", sans-serif;
    --secondary-font: "Fredoka", sans-serif;
}

/* Global styles */
html,
body {
    height: 100%;
    margin: 0;
}

/*makes the content in main always centered*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin-top: 0.5rem;
    padding-bottom: 100px;
}




/* Navbar */
.custom-navbar {
    background-color: var(--primary-color) !important;
    font-family: var(--primary-font);
}


/* Introduction Section */
.introduction {
    font-family: var(--primary-font);
    color: var(--primary-color);
    background-color: var(--feature-color-1);
}

/* Hero Section */
.hero {
    font-family: var(--primary-font);
    color: var(--font-color);
}

/* Instructions Button */
.btn-orange {
    background-color: var(--primary-color);
    /* Use primary color variable */
    color: var(--font-color);
}

.btn-orange:hover {
    background-color: var(--feature-color-2);
    color: white;
}

/* Game-area */
#play-button {
    background-color: var(--feature-color-1);
    border: solid 1px var(--feature-color-1);
    color: white;
    margin-top: 1em;
    width: 200px;
    min-height: 50px;
    font-size: x-large;
    font-weight: bold;
}

#reset-button {
    background-color: var(--feature-color-2);
    border: solid 1px var(--feature-color-2);
    color: var(--font-color);
}

/* Input-area */
#input-area {
    height: 100%;
}

#input-number {
    text-align: center;
    border: solid 3px var(--primary-color);
    border-radius: 25px;
}

#submit-button {
    width: 50%;
    height: 50px;
    background-color: var(--feature-color-1);
    border: solid 1px var(--feature-color-1);
    color: var(--font-color);
}

#my-roll {
    font-size: 20px;
    font-weight: bold;
    color: var(--font-color);
    border: solid 3px var(--primary-color);
    border-radius: 25px;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addition-button,
#subtract-button {
    width: 40%;
    height: 50px;
    background-color: var(--feature-color-1);
    border: solid 1px var(--feature-color-1);
    color: var(--font-color);
}

/* Display-area */
#score-counter {
    font-size: 20px;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--font-color);
    border-radius: 25px;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80px;
}

#score-counter p,
#turn-counter p {
    margin: 0;
}

#turn-counter {
    font-size: 20px;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--font-color);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80px;
}


/* Footer */
.custom-footer {
    background-color: var(--primary-color) !important;
    font-family: var(--primary-font);
    position: fixed;
    /* Sticky footer */
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

/* Footer default font size for larger screens */
.custom-footer p {
    font-size: 1rem;
}


/* Ensure proper wrapping and spacing on smaller screens */
.custom-footer .d-flex {
    flex-wrap: wrap;
}

/* Add some margin to the bottom of the button for spacing */
.custom-footer .btn-link {
    margin-bottom: 10px;
}


/* Modals */
.modal-overlay {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-overlay.show {
    display: block;
}

.modals {
    display: none;
    background-color: var(--background-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    color: var(--font-color);
    z-index: 1000;
}

#win-modal {
    border: solid 3px var(--feature-color-1);
}

#lose-modal {
    border: solid 3px var(--feature-color-2);
}


.play-again {
    background-color: var(--feature-color-1);
    border: solid 1px var(--feature-color-1);
    color: var(--font-color);
    width: 80%;
}

.play-again:hover {
    background-color: var(--font-color);
    border: solid 1px var(--font-color);
    color: var(--background-color);
}

.main-menu {
    background-color: var(--feature-color-2);
    border: solid 1px var(--feature-color-2);
    color: var(--font-color);
    width: 80%;
}

.main-menu:hover {
    background-color: var(--font-color);
    border: solid 1px var(--font-color);
    color: var(--background-color);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: var(--font-color);
}

#instruction-modal {
    border: solid 3px var(--feature-color-1);
}

.close-instruction {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: var(--font-color);
}